html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');

.qaContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nonwrap;
  overflow-x: auto;
  width: 90%;
  /* max-width: 1400px; */
  align-items: left;
	padding: 10px;
  border-radius: 5px;
	/* margin: 45px auto; */
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  font-size: 0.9rem;
  font-family: 'Poppins';
  margin-left: 3%;
}

.qaItem {
  /* color: #fff; */
	padding: 2px;
	margin: 2px;
	/* background: #3db5da; */
	border-radius: 3px;
}

.qaContainerForm {
  display: flex;
  flex-wrap: nonwrap;
  overflow-x: auto;
  align-items: center;
  margin-left: 3%;
}

  .modalmain {
  width: 100vw;
  height: 120vh;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  padding-top: 2%;
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    margin: 0 auto;
    background-color: white;
    max-height: 40%;
    max-width: 40%;
    border-radius: 10px;
  }

/* .borderBtn {
  text-decoration: none;
    color: gray;
    padding: 2px 10px;
    border: 1px gray solid;
    padding: 10px 15px 10px 15px;
} */

  .link {
    text-decoration: none;
    color: gray;
    padding: 2px 10px;
    white-space: nowrap;
}

.answerInfo{
  text-decoration: none;
  color: gray;
  padding: 5px 5px 2px 2px;
  white-space: nowrap;
  font-size: 0.6rem;
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
}

  /*********************SEARCH************/
  .searchContainer {
    /* display: grid;
    grid-template-columns:1.5rem 4fr 1fr;
    width:300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; */
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 260px;
    margin-right: 20px;
  }

  .searchInput {
    height: 20px;
    width: 100%;
    padding: 5px 10px 5px 40px;
    border: 0px;
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .searchButton {
    flex-shrink: 0;
    width: 60px;
    height: 30px;
    border: none;
    background-color: #4d4d4d;
    color: white;
    padding: 0px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  label {
    font-weight: bold;
  }

  .questionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

   .answerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .answerLink {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 7px;

    border-bottom: solid 1px;
  }

.question {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bold;
}

  .answer{
    font-size: 0.8rem;
    color: #4d4d4d;
  }

  form {
  display: flex;
  border: 1px solid #555555;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  }

  p {
    display: flex;
  }

  label {
    width: 7em;
    margin-right: .5em;
}

  .formInput {
    flex: 1;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .closeButton {
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: #4d4d4d;
    border: 0;
    cursor: pointer;
    margin-left: auto;
  }

  .modalButton {
    height: 40px;
    width: 25%;
    padding: 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: #4d4d4d;
    border: 0;
    cursor: pointer;
    margin-left: auto;
  }

  .borderBtn {
    border: 1px gray solid;
    padding: 15px;
    margin: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
  }