.app {
  font-family: Poppins, Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  background-color: #fafafa;
}

.navbar {
  width: 100vw;
  height: 7vh;
  padding-top: 30px;
  background-color: black;
  color: #fafafa;
  text-align: center;
  vertical-align: center;
  line-height: 1;
  font-size: 30px;
}

.relatedItemsWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  text-transform: uppercase;
}

.errorPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.errorPage h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}
