.stylesWrapper {
width: 400px;
position: absolute;
left: 550px;
top: 150px;
}

.galleryWrapper {
  width: 100px;
  height: 400px;
}

.descriptionWrapper {
  width: 400px;
  position: absolute;
  left: 550px;
  top: 8px;
}

.cartWrapper {
  width: 400px;
  position: absolute;
  left: 550px;
  top: 375px;
}

.mainImageWrapper {
  width: 400px;
  position: absolute;
  left: 100px;
}

.imgSize {
  width:  100px;
  height: 100px;
  object-fit: cover;
  display: table-cell;
}
.imgSize2 {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
}

.modalButton {
  padding: '0rem', '0rem';
  background-color: transparent;
  border: 0;
  border-radius: '0rem';
  cursor: 'pointer';
  margin-bottom: '0rem';
  padding: 0px !important;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
  object-fit: cover;
}

.imagesWrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}

.buttonWrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(25% - 11px);
  margin-left: 10px;
  margin-top: 10px;
  height: 100px;
  background-color: transparent;
}

.styleSelectionWrapper {
  overflow: auto;
  height: 130px;
  width: 350px;
}

.productTitle {
  font-style: bold;
  font-size: 30px;
}

.rightArrow {
  position: absolute;
  left: 320px;
}

.leftArrow {
  position: absolute;
  left: 200px;
}

.hiddenArrow {
  display: none;
}

/* .customSelect {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
} */

/* .selectWrapper {
  width: 100%;
  min-width: 15px;
  max-width: 150px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  display: grid;
} */




