.stylesWrapper {
width: 400px;
position: absolute;
left: 600px;
top: 210px;
}

.galleryWrapper {
  width: 100px;
  height: 400px;
}

.descriptionWrapper {
  width: 400px;
  position: absolute;
  left: 600px;
  top: 8px;
}

.cartWrapper {
  width: 400px;
  position: absolute;
  left: 600px;
  top: 375px;
}

.mainImageWrapper {
  width: 400px;
  position: absolute;
  left: 135px;
}

.imgSize {
  width:  100px;
  height: 100px;
  object-fit: cover;
  display: table-cell;
}
.imgSize2 {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
}

.modalButton {
  padding: 0px;
  background-color: transparent;
  border: 0;
  border-radius: '0rem';
  cursor: 'pointer';
  margin-bottom: '0rem';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0px;
  object-fit: cover;
}
.styleNames {
  font-size: 11px;
}

.imagesWrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}

.buttonWrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(25% - 11px);
  margin-left: 10px;
  margin-top: 10px;
  height: 120px;
  background-color: transparent;
}

.styleSelectionWrapper {
  overflow: auto;
  height: 130px;
  width: 350px;
}

.productTitle {
  font-style: bold;
  font-size: 30px;
}

.rightArrow {
  position: absolute;
  left: 530px;
  top: 150px;
}

.leftArrow {
  position: absolute;
  left: 92px;
  top: 150px;
}

.hiddenArrow {
  display: none;
}

.cartButton {
  max-width: 20%;
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  border-radius: 10px;
  border-right: 1px solid #516885;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
}




